@import url('https://github.com/Jheynial/MageSaude/src/black&white.css');
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
body {
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}
.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}
@keyframes wave {
    2% {
        transform: translateX(1);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(1);
    }
}
.container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 10px;
    text-align: center;
    transition: 0.2s linear;
}

.logo{
    opacity: 90%;
}
.logo:hover{
    width: 160px ;
    cursor: pointer;
    opacity: 100%;
}
header img {
    width: 150px;
    animation: logo-glow 2s infinite alternate;
}
@keyframes logo-glow {
    0% {
        filter: drop-shadow(0 0 10px #4caf50);
    }
    100% {
        filter: drop-shadow(0 0 20px #4caf50);
    }
}
h1 {
    color: #ffffff;
}
form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #cccccc;
}
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
    transition: box-shadow 0.3s ease;
}
input:focus {
    box-shadow: 0 0 10px #4caf50;
}
.button {
    padding: 10px 15px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.button:hover {
    background-color: none;
    box-shadow: 0 0 10px #45a049;
}
.hidden {
    display: none;
}

/* Estilos para o pop-up */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(123, 40%, 45%, 0.644);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    
}
/* Estilos para o pop-up senha cadastro*/
.popup_senha {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(0, 98%, 49%, 0.644);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.close_senha {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.small {
    opacity: 50%;
}
/*thema*/

.label {
background-color: #111;
border-radius: 50px;
cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;

padding: 5px;
position: relative;
height: 15px;
width: 40px;
transform: scale(1.5);

}


.label .ball {
background-color: #ffffff;
border-radius: 50%;
position: absolute;
top: 2px;
left: 2px;
height: 20px;
width: 22px;
transform: translateX(0px);
transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
transform: translateX(24px);
}

